@import url(https://fonts.googleapis.com/css?family=Jost:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);

#famili {
  font-family: "Jost", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

body {
  font-family: "Jost", sans-serif;
  background-color: #f5f5f5;
}

.menu-info-col{
  color: #000;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 500;
  line-height: 100%;
}

.menu-bar,
.menu-overlay-bar{
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  padding: 2em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
}


.menu-bar a,
.menu-open p {
  color: black;
  cursor: pointer;
}
.menu-close p {
  color: #000;
  cursor: pointer;
}

.menu-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 2em;
  background: #c5fb45;
  z-index: 2;
  display: flex;
  clip-path: polygon(0% 0%, 100% 0%, 100% 0%, 0% 0%);

}

.menu-close-icon {
  flex: 2;
  display: flex;
  align-items: flex-end;
  cursor: pointer;
}
.menu-copy {
  flex: 4;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 2em;
}

.menu-preview {
  flex: 4;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.menu-close-icon p {
  font-size: 100px;
  -webkit-text-stroke: 5px #c5fb45;
  line-height: 70%;
}

.menu-link-item {
  width: max-content;
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
}

.menu-link-item-holder {
  position: relative;
}

.menu-link-item-holder a {
  color: #000;
  font-size: 80px;
  font-weight: 400;
  letter-spacing: -0.02em;
  line-height: 85%;
}

.menu-info {
  display: flex;
}
.menu-info-col {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}


@media (max-width: 900px){
  .menu-close-icon{
    display: none;
  }

  .menu-copy{
    padding-top: 8em;
  }

  .menu-link-item-holder a{
    font-size: 50px;
  }
}

