@tailwind base;
@tailwind components;
@tailwind utilities;

.myli:nth-child(1) {
  color: #770012;
}

.myli {
  transition: all 0.5s ease;
  color: white;
}


ul .myli:hover {
  color: #770012;
}

.myTrabs {
  transition: all 2.5s ease;
  mix-blend-mode: difference;
}

.bg-black {
  background-color: rgba(0, 0, 0, 0.593);
  backdrop-filter: blur(5px);
}

nav{
  background: linear-gradient(880deg, #211922, #3a3b3c);
  backdrop-filter: blur(5px);
}

.mytext{
  color: #920308;
 
}

/* .animate__bounceIn{
  animation-iteration-count: infinite;
  animation-delay: 7s;
  --animate-duration: 7.5s;
  animation-duration: 9.5s;

} */