@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  scroll-behavior: smooth;
  box-sizing: border-box;
}

.myli:nth-child(1) {
  color: #770012;
}

.myli {
  transition: all 0.5s ease;
  color: white;
}

ul .myli:hover {
  color: #770012;
}

.myTrabs {
  transition: all 2.5s ease;
  mix-blend-mode: difference;
}

.bg-black {
  background-color: rgba(0, 0, 0, 0.593);
  backdrop-filter: blur(5px);
}

nav {
  background: rgba(0, 0, 0, 0.95);
  backdrop-filter: blur(5px);
}

.mytext {
  color: #920308;
}

/* .animate__bounceIn{
  animation-iteration-count: infinite;
  animation-delay: 7s;
  --animate-duration: 7.5s;
  animation-duration: 9.5s;
} */

.animate__swing{
  animation-iteration-count: infinite;
  animation-delay: 7s;
  --animate-duration: 2.5s;
  animation-duration: 2.5s;
}

section {
  height: 100vh;
}

section:nth-child(1){
  background: #38393d;
  backdrop-filter: blur(5px);
}

.NewCodeIsnow{
  width: 100%;
  background: #35363A;
}

.myfirstgrid{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 10px;
}

.bgColor{
  background: #434343;

}

.myImgGet {
  height: 50px;
  width: 200px;
  object-fit: cover;
  border-radius: 100px;
  transition: all 0.5s ease;
}

.myImgGet:hover {
  transform: scale(1.2);
  overflow: none !important;
  filter: brightness(130%);
}
.myImgD {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.myImgD .codign{
  width: 150%;
  height: 150%;
  object-fit: cover;
}

.mycircle{
  clip-path: circle(50% at 50% 50%);
}

.myback{
  background: #35363a;
}

.myblur{
  backdrop-filter: blur(5px);
  background-color: rgba(226, 232, 240, 0.224);
}

.myWidth{
  max-width: 80%;
  object-fit: contain;
  /* height: 100px; */
}

.Success{
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-64%, 20%);
}