@tailwind base;
@tailwind components;
@tailwind utilities;

.myli:nth-child(1) {
  color: #770012;
}

.myli {
  transition: all 0.5s ease;
  color: white;
}


ul .myli:hover {
  color: #770012;
}

.myTrabs {
  transition: all 2.5s ease;
  mix-blend-mode: difference;
  /* box-shadow: rgba(251, 161, 40, 70.42) 100px 40px 24px 3px; */
}

.bg-black {
  background-color: rgba(0, 0, 0, 0.593);
  backdrop-filter: blur(5px);
}

nav{
  background: linear-gradient(880deg, #211922, #3a3b3c);
  backdrop-filter: blur(5px);
}

.mytext{
  color: #920308;
 
}